/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
header {
  background: var(--section-background);
}
header .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: center;
  }
}
header .logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main-color);
  align-self: center;
  padding: 15px;
}
@media (max-width: 768px) {
  header .logo {
    font-size: 20px;
    padding: 10px;
  }
}
header ul {
  display: flex;
  align-items: center;
}

header ul li {
  padding: 22px;
  transition: var(--main-transition);
  position: relative;
}
@media (max-width: 768px) {
  header ul li {
    font-size: 13px;
    padding: 10px;
  }
}
header ul li:hover {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.1);
}
header ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--main-color-alt);
  top: -2px;
  left: 0;
  transition: var(--main-transition);
}

header ul li:hover::before {
  width: 100%;
}

/* End hedear */

/* start landing */
.landing {
  text-align: center;
}
.landing .container {
  display: flex;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 130px);
}
.landing .container .text {
  text-align: left;
}
.landing .container .image {
  width: 50%;
  overflow: hidden;
  position: relative;
}

.landing .container .image img {
  max-width: 100%;
}
.landing .go-down {
}
/* end landing */

/* start flexbox  test */
.parrent {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.box {
  /* width: 300px; */
  height: 300px;
  background: red;
}
/* end flexbox  test */
/* start playing with bordre */
.test {
  border-color: red blue green black;
  border-width: 50px 50px 50px 50px;
  border-style: solid;
  display: inline-block;
  margin: 100px;
}
/* end playing with bordre */
